.containerAvatar
 display: flex
 flex-direction: row
 flex-wrap: nowrap
 justify-content: space-between
 padding: 0 30px
 picture
  flex: 0 1 auto
  background: gray
  width: 30px
  img
   width: 100%
   height: auto
   border-radius: 50%
 div:nth-child(2)
  background: red
  width: 100%
 div:nth-child(3)
  background: aqua
  width: auto
